<!--<h5 class="subheader">{{collection_title}}</h5>-->
<div class="input-field col s12">
    <select id="{{select_id}}" class="collection-select">
        <option value="" disabled selected>{{default_option}}</option>
        {{#each items}}
            <option value="{{id}}" data-icon="{{picture_url}}" class="circle left">
                {{tr name}}
            </option>
        {{/each}}
    </select>
    <label>{{collection_title}}</label>
</div>
