<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Vitalis</title>

    <link rel="shortcut icon" type="image/png" href="/img/logo-64x64-color.png"/>

    <!-- CSS  -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="/css/material_icons.css" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--<link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->

    <!--<link href="/ui-build/core__large.css" rel="stylesheet">-->

    {{#if is_prod }}
        <link href="{{resources.assetsHost}}/ui-dist/{{resources.cssBundle}}" type="text/css" rel="stylesheet">
    {{else}}
        <link href="{{resources.assetsHost}}/ui-build/bundle__large.css" type="text/css" rel="stylesheet">
    {{/if}}

    <meta name="config:lang" content="es" />
</head>
<body>
<div id="app">
    <div id="headin" data-js="header-region"></div>
    <div id="contentin" data-js="main-region"></div>
    <div id="footin" data-js="footer-region"></div>
</div>

<!--  Scripts-->

<input id="x_assets_host" type="hidden" value="{{resources.assetsHost}}"/>
<input id="x_assets_basepath" type="hidden" value="{{resources.basePath}}"/>
<input id="is_prod" type="hidden" value="{{is_prod}}"/>

<script src="/js/jquery-2.1.1.min.js"></script>
<!--<script src="/js/materialize.js"></script>-->

{{#if is_prod }}
    <script type="text/javascript" src="{{resources.assetsHost}}/ui-dist/{{resources.jsCore}}"></script>
    <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="{{resources.assetsHost}}/ui-dist/{{resources.jsBundle}}"></script>
{{else}}
    <script type="text/javascript" src="{{resources.assetsHost}}/ui-build/core__large.js"></script>
    <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="{{resources.assetsHost}}/ui-build/bundle__large.js"></script>
{{/if}}


<!--<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>-->
</body>
</html>
